<p>
  <mat-toolbar color="primary">
    <span>LanguageWire Test - Translation tool</span>
  </mat-toolbar>
</p>

<div class="container">
  <app-main *ngIf="languages" [languages]="languages"></app-main>
</div>