<div class="mt-5">
    <form [formGroup]="translationForm" (ngSubmit)="onSubmit(translationForm.getRawValue())">
        <div class="row justify-content-evenly">
            <div class="col-2">
                <mat-form-field appearance="outline">
                    <mat-label>Source language</mat-label>
                    <mat-select formControlName="sourceLanguage" required>
                        <mat-option *ngFor="let language of languages" value="{{language}}">{{language}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="!loading" class="col-1 text-center">
                <button type="submit" mat-fab color="primary"
                    [disabled]="this.translationForm.pristine || !this.translationForm.valid">
                    <mat-icon>cached</mat-icon>
                </button>
            </div>
            <div *ngIf="loading" class="col-1 text-center">
                <mat-spinner diameter="60"></mat-spinner>
            </div>
            <div class="col-2">
                <mat-form-field appearance="outline">
                    <mat-label>Target language</mat-label>
                    <mat-select formControlName="targetLanguage" required>
                        <mat-option *ngFor="let language of languages" value="{{language}}">{{language}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Text to translate</mat-label>
                    <textarea class="text-holder" matInput formControlName="textToTranslate" required></textarea>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Translation</mat-label>
                    <textarea class="text-holder" matInput readonly formControlName="translatedText"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>